{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        #modules-list-bloc {
            width: 30%;
            height: 300px;
            background-color: #AED5F3;
            border-radius: 10px;
        }

        #modules-data-bloc {
            width: 30%;
            height: 300px;
            background-color: #AED5F3;
            border-radius: 10px;
        }

        #modules-historique-bloc {
            width: 30%;
            height: 300px;
            background-color: #AED5F3;
            border-radius: 10px;
        }

        #whole-container{
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
        }

        .category-title {
            margin-left: 30%
        }


    </style>

    <div id="whole-container">
        <div id="modules-list-bloc">
            <h2 class="category-title">Liste des modules</h2>

            <button class="btn btn-light border border-secondary" id="add-module">
                <p>+ Ajouter un module</p>
            </button>

            <div id="add-bloc" class="d-none bg-light w-75 rounded">
                <input id="input-name" type="text" placeholder="Nom du module...">
                <button class="btn btn-light" id="valid-add">
                    <p>Ajouter</p>
                </button>
                <button class="btn btn-light" id="valid-cancel">
                    <p>Annuler</p>
                </button>
            </div>

            {% if modules is defined %}
                {% for module in modules %}
                    <div>
                        <h4>{{ module.name }}</h4>
                        <h4>{{ module.status ? 'V' : 'X' }}</h4>
                        <button class="btn btn-light valid-delete" data-id="{{ module.id }}">X</button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div id="modules-historique-bloc">
            <h2 class="category-title">Historique</h2>
            <div>
                {% if workHistories is defined %}
                    {% for workHistory in workHistories %}
                        <div>
                            <p>{{ workHistory.moduleid.name }}</p>
                            <p>{{ workHistory.status ? 'V' : 'X' }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div id="modules-data-bloc">
            <h2 class="category-title">Données</h2>
        </div>
    </div>
{% endblock %}
